__pycache__
server_config.py
client_config.py
server_config.toml
client_config.toml
client_resolvers.txt
encrypt_key.txt
local_dns_cache.json
local_dns_cache.bin
*.key
*.pem
*.crt
.vscode/
.env
.DS_Store
logs/
*.log
*.zip
*.tar.gz
*.bak
*.tmp
*.exe
build/
.gocache
.bench/
